.links {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.cardslist-container {
    display: flex;
}

.card-container {
    background-color: rgb(222, 221, 221);
    border: 1px solid black;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    width: 200px;
    height: 250px;
    cursor: pointer;
}

.card-container:hover {
    background-color: rgb(165, 163, 163);
    width: 210px;
    height: 260px;
}



/* Tab-Form */

.tabs-main-container {
    position: relative;
    background-color: aliceblue;
    border: 1px solid rgb(152, 206, 252);
    width: 50%;
    height: 50vh
}

.tabs-heading-container {
    display: flex;
}

.tabs {
    border: 2px solid black;
    padding: 10px;
    cursor: pointer;
}

.tabs-body-container {
    border-top: 1px solid rgb(155, 202, 244);
}

.tab-input-label {
    padding: 8px;
}


.tab-interests {
    display: flex;
    flex-direction: column;
}

.interests-display {
    margin-top: 16px;
}

.tab-footer-buttons {
   position: absolute;
   display: flex;
   bottom: 10px;
   right: 10px;
}

.tab-form-button {
    margin: 4px;
}


/* Pagination */

.pagination-container {
    background-color: aliceblue;
    padding: 8px;
}

.pagination-product-container {
    display: flex;
    flex-wrap: wrap;
    height: 75vh;
    overflow: scroll;
}

.pagination-product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 232, 250);
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
    width: 200px;
    height: 200px;
}

.pagination-img-card {
    width: 150px;
    height: 150px;
}

.pagination-footer {
    display: flex;
    margin: 6px;
}

.pagination-results-dropdown {
    display: flex;
    margin: 4px;
}

.pagination-select-dropdown {
    width: 60px;
    height: 24px;
}

.pagination-results-text {
    margin: 0 32px 0 8px;
}